<form method="POST">
    <h2>Реєстрація</h2>
    <label for="name">Ім'я:</label>
    <input type="text" name="name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Пароль:</label>
    <input type="password" name="password" required>
    <div class="buttons">
        <button type="submit" class="register-btn">Зареєструватися</button>
        <a hrev="{{ url_for('home') }}" class="home-btn">Головна</a>
    </div>    
    <p>Вже маєте акаунт? <a href="{{ url_for('login') }}">Увійти</a></p>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=2">
</form>
