<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запис на ремонт вашого</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>СТО Рівне</h1>
        </div>
        <nav class="nav">
            <a href="/">Головна</a>
            <a href="/booking">Послуги</a>
            <a href="#">СТО</a>
            <a href="#">Про нас</a>
            <a href="#">Акції</a>
            <a href="#">Контакти</a>
        </nav>
    </header>
    <main>
        <div class="form-container">
        <div class="form-header">Для запису на автосервіс 
            заповніть, будь ласка, форму:</div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        <form action="/booking" method="POST">
            <input type="text" id="name" name="name" placeholder="Введіть ваше ім'я"><br><br>
            <input type="tel" id="phone" name="phone" placeholder="+380XXXXXXXXX" required><br><br>
            <input type="date" id="date" name="date"><br><br>
            <textarea id="comment" name="comment" placeholder="Додайте коментар (необов'язково)"></textarea><br><br>
            <input type="email" id="email" name="email" placeholder="email@gmail.com" required><br><br>
            <button type="submit">Записатися</button>
        </form>
    </div>
    </main>
    <footer>
        <p>&copy; 2025 СТО Рівне. Всі права захищені.</p>
    </footer>
</body>
</html>
